<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".LibraryApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibraryManager"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:lockTaskMode="if_whitelisted"
            android:screenOrientation="sensorLandscape"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.LibraryManager"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- PC ExcelTool: am start -a IMPORT_EXCEL (foreground import). -->
            <intent-filter>
                <action android:name="com.mh.librarymanager.IMPORT_EXCEL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.mh.librarymanager.IMPORT_MATCHINGS_EXCEL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.mh.librarymanager.IMPORT_BEIS_EXCEL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".KioskDeviceAdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".BootReceiver"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Device-owner silent update (adb push APK + broadcast). -->
        <receiver
            android:name=".MaintenanceInstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mh.librarymanager.INSTALL_UPDATE" />
            </intent-filter>
        </receiver>

        <!-- PC ExcelTool: adb push books-import.xlsx + broadcast to stage import. -->
        <receiver
            android:name=".ExcelImportReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mh.librarymanager.IMPORT_EXCEL" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".MatchingsImportReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mh.librarymanager.IMPORT_MATCHINGS_EXCEL" />
            </intent-filter>
        </receiver>

        <!-- PC ExcelTool: adb push beis-import.xlsx + broadcast to stage import. -->
        <receiver
            android:name=".BeisImportReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mh.librarymanager.IMPORT_BEIS_EXCEL" />
            </intent-filter>
        </receiver>

        <!-- Technician: open a short window to authorize a Windows PC for adb. -->
        <receiver
            android:name=".PcAuthorizeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mh.librarymanager.PREPARE_PC_AUTHORIZE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MaintenanceAuthorizeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.LibraryManager" />

        <receiver
            android:name=".InstallResultReceiver"
            android:exported="false" />

        <receiver
            android:name=".UsbPlugReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
